body
{
	background: url(background.jpg);
}
a {
    text-decoration: none;
    color: cornsilk;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#nav{
    padding-left: 70px;
    padding-top: 70px;
}
.login_div1{
    background: rgb(255, 255, 255);
        opacity: 1;
        color: rgb(0, 0, 0);
		padding: 10px;
		float: none;
        margin-top: 100px;
        margin-bottom: 50px;
		border-radius: 15px;
        height: 250px;
        padding-bottom: 100px;
	}

.lab{
    margin-bottom: 30px;
}
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;

}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
